<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.art.huakai.artshow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />


    <application
        android:name=".base.ShowApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="52b1f89886dbdef550c0050d70c54f73">
            //开发者申请的key</meta-data>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.GuideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".activity.WebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AccountInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AccountNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AccountNameChangeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name=".activity.BindWechatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name=".activity.ChangePwdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name=".activity.DataUploadActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name=".activity.ResumeEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name=".activity.ResumeBaseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name=".activity.EnrollDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EnrollApplyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ResumeFillActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name=".activity.ClassifyTypeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.KeywordSearchAllActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SearchNewsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.KeywordSearchResultShowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TheatreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TheatreEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TheatreBaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TheatreFillActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProjectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProjectEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProjectBaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProjectFillActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.PersonalDetailMessageActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".activity.BroswerPicActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.TheatreDetailMessageActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".activity.WorksDetailMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ResumeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.NewsShowActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".widget.calendar.CalendarSelectorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.art.huakai.artshow.activity.EnrollJoinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name="com.sina.weibo.sdk.net.DownloadService"
            android:exported="false" />

        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity
            android:name="com.art.huakai.artshow.activity.KeywordSearchEnrollsResultShowActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.art.huakai.artshow.activity.KeywordSearchNewsResultShowActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.art.huakai.artshow.activity.KeywordSearchRepertorysResultShowActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.art.huakai.artshow.activity.KeywordSearchTalentsResultShowActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.art.huakai.artshow.activity.KeywordSearchTheatresResultShowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.art.huakai.artshow.activity.MapShowActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.art.huakai.artshow.activity.PioSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NewsDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ADWebActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>