<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.art.huakai.artshow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".base.ShowApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.GuideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".activity.WebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AccountInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AccountNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AccountNameChangeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name=".activity.BindWechatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name=".activity.ChangePwdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name=".activity.DataUploadActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name=".activity.ResumeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name=".activity.ResumeBaseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name=".activity.EnrollDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EnrollApplyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ResumeFillActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name=".activity.ClassifyTypeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.KeywordSearchAllActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SearchNewsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.KeywordSearchResultShowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TheatreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TheatreEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TheatreBaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TheatreFillActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProjectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProjectEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProjectBaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProjectFillActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.PersonalDetailMessageActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".activity.BroswerPicActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.TheatreDetailMessageActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".activity.WorksDetailMessageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.NewsShowActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>